body {
    margin: 0px;
    background-image: url(../images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: "Lato", sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    display: inline;
    width: 100%;
    display: table;
    background-color: #e4e4e6;
}

.logo {
    float: left;
    width: 15%;
}

.logo-home {
    background-color: #e4e4e6;
    padding-left: 10px;
    margin-top: -22px;
    margin-bottom: 50px;
}

.title {
    float: left;
    width: 80%;
    text-align: center;
    text-shadow: 0 0 3px #0a3270, 0 0 5px #0000FF;
    letter-spacing: 3px;
    font-size: 20px;
    line-height: 1.6;
}

.column {
    float: left;
    width: 45%;
    padding: 10px;
    background-color: white;
    margin: 20px;
    height: 90%;
}

.column1 {
    float: left;
    width: 31%;
    padding: 10px;
    background-color: white;
    margin: 10px;
    height: 100%;
    padding-bottom: 20px;
    border-radius: 5px;
}

.column1 img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.column1 h3 {
    font-size: 20px;
}

.column2 {
    float: left;
    width: 45%;
    padding: 10px;
    margin: 10px;
    height: 330px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.column2 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.column3 {
    float: left;
    width: 45%;
    padding: 10px;
    background-color: white;
    margin: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
    opacity: 0.8;
    margin-top: 20px;
}

.detail {
    padding: 10px;
    background-color: white;
    margin: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
    opacity: 0.8;
}

.cart-btn {
    background-color: #0a3270;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}

.row {
    content: "";
    display: table;
    clear: both;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.rowcart {
    content: "";
    display: table;
    clear: both;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    background-color: black;
    margin-top: 20px;
    opacity: 0.8;
    height: 100%;
}

.container-home {
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    height: 100%;
}

input[type=text],
input[type=password],
input[type=email] {
    padding: 5px;
    width: 90%;
    margin: 10px;
    font-size: 16px;
}

input[type=number] {
    padding: 5px;
    margin: 10px;
    width: 30%;
    font-size: 16px;
}

input[type=submit] {
    padding: 10px 25px;
    border: none;
    font-size: 16px;
    margin: 20px;
    background-color: #0a3270;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}


/* Responsive layout */

@media screen and (max-width: 830px) {
    .column,
    .column1,
    .column2,
    .column3 {
        width: 90%;
        height: auto;
    }
    .container {
        opacity: 1;
        background-color: #414448;
    }
    .title {
        font-size: 12px;
        padding-left: 100px;
    }
}

#errorlogin,
#errorRegestration {
    color: red;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .logo {
        width: 100%;
        text-align: center;
    }
    .title {
        line-height: normal;
        font-size: initial;
        font-size: 12px;
        padding-left: 200px;
    }
    .cart {
        float: right;
    }
}

.cart .fa-shopping-cart {
    font-size: 40px;
    margin: 20px;
    margin-top: 30px;
    color: black
}

.cart .fa-home {
    font-size: 40px;
    margin: 20px;
    margin-top: 30px;
    color: black
}


/* Fixed sidenav, full height */

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    padding-top: 20px;
}


/* Style the sidenav links and the dropdown button */

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


/* On mouse-over */

.sidenav a:hover {
    color: grey;
}


/* Main content */

.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}


/* Add an active class to the active dropdown button */

.active {
    background-color: #0a3270;
    color: white;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    background-color: grey;
    padding-left: 8px;
    color: white;
}

.dropdown-container a:hover {
    color: white
}


/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}


/* Some media queries for responsiveness */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.fa-shopping-cart {
    font-size: 20px;
}